<!-- <app-email-service></app-email-service> -->
<!-- <app-profile></app-profile> -->
<!-- <app-footer></app-footer> -->
<!-- <app-login></app-login> -->
<!-- <app-header></app-header> -->
<!-- <app-footer></app-footer> -->
<!-- <app-base></app-base> -->
<!-- <app-all-categories></app-all-categories> -->
<!-- <app-header></app-header>
<router-outlet></router-outlet> -->
<!-- <app-footer></app-footer>    -->
<!-- <app-slider2></app-slider2> -->
<!-- <router-outlet></router-outlet> -->


<!-- <app-navbargoodlooking></app-navbargoodlooking>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<!-- <app-course-page></app-course-page> -->
<!-- <app-home-page></app-home-page> -->


<!-- <app-mentor-home></app-mentor-home> -->

<!-- sidebar -->
<!-- <app-side-bar (sideNavToggled)="sideNavStatus= $event;"></app-side-bar>
<main>
    <app-side-bar2 [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open':sideNavStatus}"></app-side-bar2>
    <div class="display-area p-3" [ngClass]="{'display-area-shrink':sideNavStatus}">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore esse accusamus dolorem. Perferendis, ullam reiciendis. Culpa, deserunt. Dolore molestias dolorem modi alias nostrum aut aspernatur iste beatae officiis omnis laborum libero quis deleniti illum, pariatur, corporis facilis sed odio incidunt! Sed commodi quisquam officiis ex facere magni aliquid sequi harum.
        </p>
    </div>
</main> -->

<app-side-bar2></app-side-bar2>


<!-- <app-sign-up></app-sign-up> -->


