<!-- <p>header works!</p> -->
<nav>
    <span><a href="#"><img src="./assets/images/index.png" alt="" class="logo"></a></span>
    <div class="nav-items">
        <ul>
            <div class="dropdown">
                <li><a href="">Categories</a></li>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>                
            <li><a href="">Teach with us</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact us</a></li>
        </ul>
        <input type="search" name="" id="" class="search-bar" placeholder="Search here..">
        <a href=""><img src="./assets/images/cart2.png" alt="" class="cart"></a>
        <button class="btn login">Login</button>
        <button class="btn sign-up">Sign up</button>
    </div>
</nav>