<!-- <div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open':sideNavStatus}">
        <li class="nav-list-item " *ngFor="let i of list">
            <i class="{{i.icon}}"></i>
            <span>
                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" style="width: 180px;">
                      {{i.name}}
                    </button>
                    <ul class="dropdown-menu ">
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                    </ul>
                  </div>
                  
            </span>
        </li>
    </ul>
</div> -->
<img src="assets/images/bar-chart-white.svg" alt="NOIMAGE">
<div class="logo-details">
  <img src="assets/images/bar-chart-white.svg" alt="" style="height: 30px; width: 30px; margin: 20px;">
  <span class="logo_name">UpSkill Inc.</span>
</div>
<div class="sidebar close">
  <div class="logo-details">
    <img src="bar-chart-white.svg" alt="" style="height: 30px; width: 30px; margin: 20px;">
    <span class="logo_name">UpSkill Inc.</span>
  </div>
  <ul class="nav-links">
    <li>
      <img src="assets/images/bar-chart-white.svg" alt=""
        style="height: 30px; width: 30px; margin: 20px; margin-top: 0px;top:0px ;">
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-collection'></i>
          <span class="link_name">Introduction inside</span>
        </a>
        <!-- <i class='bx bxs-chevron-down arrow'></i> -->
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Introduction</a></li>
        <li><a class="dropdown-item" href="https://youtube.com">What is UpSkill</a></li>
        <li><a class="dropdown-item" href="#">Significance</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-book-alt'></i>
          <span class="link_name">Architecture</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Architecture</a></li>
        <li><a href="#">Database Table</a></li>
        <li><a href="#">Components</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-collection'></i>
          <span class="link_name">Modules</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Modules</a></li>
        <li>
          <div class="btn-group dropend">
            <button class="btn btn-secondary dropdown-toggle btns" type="button" data-bs-toggle="dropdown"
              data-bs-auto-close="outside" aria-expanded="false">
              Home Modules
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://youtube.com" style="color: #11101d;padding: 10px;">youtube</a>
              </li>
              <li><a class="dropdown-item" href="#" style="color: #11101d; padding: 10px;">Menu
                  item</a></li>
              <li><a class="dropdown-item" href="#" style="color: #11101d;padding: 10px;">Menu item</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="btn-group dropend">
            <button class="btn btn-secondary dropdown-toggle btns" type="button" data-bs-toggle="dropdown"
              data-bs-auto-close="outside" aria-expanded="false">
              Login-Signup Module
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://youtube.com" style="color: #11101d;padding: 10px;">Youtube</a></li>
              <li><a class="dropdown-item" href="#" style="color: #11101d; padding: 10px;">Menu
                  item</a></li>
              <li><a class="dropdown-item" href="#" style="color: #11101d;padding: 10px;">Menu item</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="btn-group dropend">
            <button class="btn btn-secondary dropdown-toggle btns" type="button" data-bs-toggle="dropdown"
              data-bs-auto-close="outside" aria-expanded="false">
              Mentor Module
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://youtube.com" style="color: #11101d;padding: 10px;">Youtube</a></li>
              <li><a class="dropdown-item" href="#" style="color: #11101d; padding: 10px;">Menu
                  item</a></li>
              <li><a class="dropdown-item" href="#" style="color: #11101d;padding: 10px;">Menu item</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-collection'></i>
          <span class="link_name">Techs Used</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Techs Used</a></li>
        <li>
          <div class="btn-group dropend">
            <button class="btn btn-secondary dropdown-toggle btns" type="button" data-bs-toggle="dropdown"
              data-bs-auto-close="outside" aria-expanded="false">
              Front End
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item something" style="color: #11101d;padding: 10px;"
                  href="https://youtube.com">YouTube</a></li>
              <li><a class="dropdown-item something" style="color: #11101d;padding: 10px;" href="#">Angular</a></li>
              <li><a class="dropdown-item something" style="color: #11101d;padding: 10px;" href="#">primeNg</a></li>
              <li><a class="dropdown-item something" style="color: #11101d;padding: 10px;" href="#">Bootstrap</a></li>
              <li><a class="dropdown-item something" style="color: #11101d;padding: 10px;" href="#">NativeChat</a></li>
              <li><a class="dropdown-item something" style="color: #11101d;padding: 10px;" href="#">EmailJS</a></li>
              <li><a class="dropdown-item something" style="color: #11101d;padding: 10px;" href="#">Karma</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="btn-group dropend">
            <button class="btn btn-secondary dropdown-toggle btns" type="button" data-bs-toggle="dropdown"
              data-bs-auto-close="outside" aria-expanded="false">
              Back End
            </button>
            <ul class="dropdown-menu">
              <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color: transparent; color: gray; margin: 10px; border: 1px solid white;">EntityFrame Work</button></li>
              <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color: transparent; color: gray; margin: 10px; border: 1px solid white;">ASP.Net</button></li>
              <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color: transparent; color: gray; margin: 10px; border: 1px solid white;">Swagger</button></li>
              <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color: transparent; color: gray; margin: 10px; border: 1px solid white;">SQL Server</button></li>
              <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color: transparent; color: gray; margin: 10px; border: 1px solid white;">JWT</button></li>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color: transparent; color: gray; margin: 10px; border: 1px solid white;">Large modal</button>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width: 1000px;border: 2px solid red;margin-left: 450px;">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width: 1000px;border: 2px solid red;">
    <div class="modal-content" style="width: 1000px; border: 2px solid red; ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/banner9.jpg" alt="noimage" height="400px" width="600px">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-left: 300px;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/banner9.jpg" alt="noimage" height="500px" width="798px">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>