<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bb880258-f65c-41c2-9600-f688923aed3e/resourcegroups/RGAzure-lab/providers/Microsoft.Web/sites/UpSkillWebApi20221216145952</ResourceId>
    <ResourceGroup>RGAzure-lab</ResourceGroup>
    <ApiResourceId>/subscriptions/bb880258-f65c-41c2-9600-f688923aed3e/resourceGroups/RGAzure-lab/providers/Microsoft.ApiManagement/service/UpSkillWebApi/apis/UpSkillWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://upskillwebapi20221216145952.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>dd7967a3-e94b-4765-8c45-a7fb56dddce9</ProjectGuid>
    <MSDeployServiceURL>upskillwebapi20221216145952.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UpSkillWebApi20221216145952</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$UpSkillWebApi20221216145952</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>